<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<header th:replace="fragments/header :: name('Über uns', 'Erfahren Sie mehr über unsere Website.')"></header>
<main class="container">
    <p>Mit SmarterVote bieten wir ein Tool, um eine optimale Wahlempfehlung aufgrund der eigenen politischen Einstellung zu erhalten.</p>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>