<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<header th:replace="fragments/header :: name('Vorauswahl', 'Wählen Sie die Wahlen aus, die Sie interessieren.')"></header>
<main class="container">
    <div th:replace="fragments/alert :: alert"/>
    <div th:each="election: ${elections}" class="election-row">
        <a th:href="@{election/{id}(id=${election.id})}" th:text="${election.name}"></a>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>