<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<header th:replace="fragments/header :: name('Profil von ' + ${politician.name}, 'Hier finden Sie weitere Infos')"></header>
<main class="container">
    <div th:replace="fragments/alert :: alert"/>
    <div class="politician-profile-header">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img th:src="@{'~/images/politicians/' + ${politician.imageUrl}}" th:alt="${politician.name}">
            </div>
            <div class="col-md-8">
                <h3 th:text="${politician.name}"></h3>
                <p><strong>Partei:</strong> <span th:text="${politician.party}"></span></p>
                <p><strong>Jahrgang:</strong> <span th:text="${politician.birthYear}"></span></p>
                <p><strong>Beruf:</strong> <span th:text="${politician.profession}"></span></p>
                <p><strong>Geschlecht:</strong> <span th:text="${politician.gender}"></span></p>
            </div>
        </div>
    </div>

    <!--
        <div class="container-fluid container-topic">

            <div class="row">
                <div class="col-12">
                    <div class="container-fluid container-topic-inner">
                        <div th:each="politician: ${politician}" class="grey-bg">
                            <div class="col-12">
                                <p th:text="'Bild:'"></p>
                                <img th:src="@{'../images/politicians/' + ${politician.imageUrl}}" class="profilePic"/>
                                <p th:text="'ID: ' + ${politician.id}" hidden></p>
                                <p th:text="'Name: ' + ${politician.name}"></p>
                                <p th:text="'Party: ' + ${politician.party}"></p>
                                <p th:text="'Jahrgang: ' + ${politician.birthYear}"></p>
                                <p th:text="'Beruf: ' + ${politician.profession}"></p>
                                <p th:text="'Geschlecht: ' + ${politician.gender}"></p>
                                <p th:text="'Zuletzt in den Medien:'"></p>
                                <div th:each="mediaEntry: ${politician.mediaEntries}">
                                    <p th:href="${mediaEntry.link}" th:text="${mediaEntry.eventDate} + ' - ' +  ${mediaEntry.headline}"></p>
                                    <p th:text="${mediaEntry.description}"></p>
                                </div>
                                <p th:text="'Persönliche Fragen:'"></p>
                                <p>---</p>
                                <div th:each="question: ${politician.questions}">
                                    <button th:id="${question.id}" th:class="'btn btn-primary upvote' + (${question.upvoted} ? ' disabled' : '')" th:disabled="${question.upvoted}" th:text="(${question.upvoted} ? 'Upvoted' : 'Upvote')"></button>
                                    <p th:text="'Frage: ' + ${question.text}"></p>
                                    <p th:text="'Antwort: ' + ${question.answer.text}"></p>
                                    <p th:class="'upvotes-' + ${question.id}" th:text="'Upvotes: ' + ${question.upvotes}"></p>
                                    <p>---</p>
                                </div>
                                <form th:action="@{/politician/{id}/add-question(id=${politician.id})}" th:object="${personalQuestionForm}" method="post">
                                    <div class="form-group">
                                        <label for="text">Frage:</label>
                                        <textarea id="text" class="form-control" th:field="*{text}"></textarea>
                                    </div>
                                    <div class="float-right clear">
                                        <input type="submit" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>