<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/navigation :: navigation"></nav>
<header th:replace="fragments/header :: name('Themengewichtung', 'Gewichten Sie die Themen, die Ihnen wichtig scheinen')"></header>
<main>
    <form th:action="@{/save-subjects}" action="#" th:object="${form}" method="post">
        <div class="container-fluid container-topic">
            <div th:replace="fragments/alert :: alert"/>
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid ">
                        <div th:each="subject, itemStat : *{subjectVOS}" class="row topic-row grey-bg">
                                <div class="col-md-6">
                                    <label class="question" th:text="${subject.name}"></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="switch-field">
                                        <input type="radio" th:field="*{subjectVOS[__${itemStat.index}__].weight}"
                                               th:id="'radio-one-'+${subject.id}" th:name="'radio-one-'+${subject.id}" value="0"/>
                                        <label th:for="'radio-one-'+${subject.id}">kein Interesse</label>
                                        <input type="radio" th:field="*{subjectVOS[__${itemStat.index}__].weight}"
                                               th:id="'radio-two-'+${subject.id}" th:name="'radio-two-'+${subject.id}"  value="1"/>
                                        <label th:for="'radio-two-'+${subject.id}">Unwichtig</label>
                                        <input type="radio" th:field="*{subjectVOS[__${itemStat.index}__].weight}"
                                               th:id="'radio-three-'+${subject.id}" th:name="'radio-three-'+${subject.id}"  value="2"/>
                                        <label th:for="'radio-three-'+${subject.id}">Normal</label>
                                        <input type="radio" th:field="*{subjectVOS[__${itemStat.index}__].weight}"
                                               th:id="'radio-four-'+${subject.id}" th:name="'radio-four-'+${subject.id}"  value="3"/>
                                        <label th:for="'radio-four-'+${subject.id}">Wichtig</label>
                                        <input type="radio" th:field="*{subjectVOS[__${itemStat.index}__].weight}"
                                               th:id="'radio-five-'+${subject.id}" th:name="'radio-five-'+${subject.id}"  value="4"/>
                                        <label th:for="'radio-five-'+${subject.id}">Sehr wichtig</label>

                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid container-send">
            <div class="row">
                <div class="col-12">
                    <button type="submit" id="submitButton" th:value="Save" class="btn btn-send">Senden</button>
                </div>
            </div>
        </div>
    </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>