<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- connection info -->
        <property name="connection.url">jdbc:postgresql://localhost:${db.port}/smartervote
        </property> <!-- BD Connection -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">smartervote_user</property> <!-- DB User -->
        <property name="connection.password">123456</property> <!-- DB Password -->

        <property name="hbm2ddl.auto">validate</property> <!-- see: https://stackoverflow.com/a/1689769 -->

        <!-- debugging -->
        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <!-- entities -->
        <mapping class="ch.zhaw.smartervote.persistency.entities.Election"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.MediaCoverage"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.Party"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.PersonalQuestion"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.PersonalQuestionAnswer"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.PersonalQuestionUpvote"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.Politician"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.Question"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.QuestionAnswer"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.QuestionSubject"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.ProposalResult"/>
        <mapping class="ch.zhaw.smartervote.persistency.entities.ProposalResultScore"/>

    </session-factory>
</hibernate-configuration>