<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smartervote</title>

    <!-- stylesheets -->
    <link rel="stylesheet" th:href="@{~/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/styles/custom.css}">

    <!-- js -->
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}" defer></script>
    <script type="text/javascript" th:src="@{~/js/main.js}" defer></script>

</head>
</html>