<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navigation">
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
        >
        <div class="overlay-content">
            <a id="link" href="/" class="active-link">START</a>
            <a id="link" href="/wahlempfehlung">WAHLEMPFEHLUNG</a>
            <a id="link" href="/ueber">ÜBER</a>
        </div>
    </div>

    <div class="container-fluid nav-container">
        <div class="row">

            <a href="./index.html">
                <span id="brand" class="brand float-left">Smartervote</span>
            </a>
            <a class="nav-link" href="/wahlempfehlung">WAHLEMPFEHLUNG</a>
            <a class="nav-link" href="/ueber.html">ÜBER</a>
            <div
                    id="menu-symbol"
                    class="float-right"
                    onmouseout="changeNav()"
                    onmouseover="changeNav()"
                    onclick="openNav()"
            >
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>

        </div>
    </div>
</nav>
</body>
</html>

