<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="main-nav" th:fragment="navigation">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="brand-text">SmarterVote</span>
            </div>
            <div class="col smartervote-nav">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/}" href="#">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/about}">Über</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- responsive menu -->
    <div id="responsive-menu-symbol" onmouseout="changeNav()" onmouseover="changeNav()" onclick="openNav()">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
    </div>
    <div id="smartervote-overlay">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a th:href="@{~/}">Startseite</a>
            <a th:href="@{~/about}">Über</a>    
        </div>
    </div>

</nav>
</body>
</html>

