/**
 * Main stylesheet for the smarter vote website.
 *
 * @author Stefan Koscica
 * @author Leo Rudin
 */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav #responsive-menu-symbol {
        visibility: hidden;
    }
}
@media (max-width: 768px) {
    nav .smartervote-nav .nav {
        display: none;
    }
    .switch-field {
        margin-top: 10px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* ---- start general styles ---- */
.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    transition: all 0.1s ease-in-out;
}
.switch-field label:hover {
    cursor: pointer;
}
.switch-field input:checked + label {
    background-color: #5aa8f3;
    color: white;
    box-shadow: none;
}
.btn-send-holder {
    margin-top: 50px;
}
.btn-send {
    border: none;
    border-radius: 0;
    width: 180px;
    height: 55px;
    background-color: #5aa8f3;
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
}
.btn-send:hover {
    color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    margin-top: 0;
}
.btn-send-small {
    font-size: 1rem;
    width: 160px;
    height: 40px;
}

/* ---- end general styles ---- */


/* ---- start navigation styles ---- */
.main-nav {
    background-color: #5aa8f3;
    padding: 30px 0 10px 0;
}
.main-nav .brand-text {
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
.main-nav .smartervote-nav {
    padding-top: 10px;
}
.main-nav .smartervote-nav .nav .nav-item .nav-link {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}
.main-nav #responsive-menu-symbol {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 38px;
}
.main-nav #responsive-menu-symbol .bar {
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 10% / 50%;
    transition-duration: 200ms;
}
.main-nav #responsive-menu-symbol .bar.bar1 {
    width: 35px;
}
.main-nav #responsive-menu-symbol .bar.bar2 {
    width: 30px;
}
.main-nav #responsive-menu-symbol .bar.bar3 {
    width: 25px;
}
.main-nav #responsive-menu-symbol .bar.change-bar {
    width: 35px;
    transition-duration: 200ms;
}
.main-nav #smartervote-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #5aa8f3;
    overflow-x: hidden;
    transition: 0.5s;
}
.main-nav #smartervote-overlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.main-nav #smartervote-overlay .overlay-content a {
    font-weight: 700;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.main-nav #smartervote-overlay .overlay-content a:hover,
.main-nav #smartervote-overlay .overlay-content a:focus {
    color: white;
}
.main-nav #smartervote-overlay .close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    text-decoration: none;
}
.main-nav #smartervote-overlay .close-btn:hover {
    color: white;
    text-decoration: none;
}

/* ---- end navigation styles ---- */


/* ---- start header specific ---- */
header {
    padding: 100px 0;
}
header h1 {
    font-weight: 700;
}
header h2 {
    color: gray;
    font-size: 1.5rem;
}

/* ---- end header specific ---- */


/* ---- start content specific ---- */
main a {
    color: black;
}
main a:hover {
    color: black;
    text-decoration: underline;
}

/* election selection */
main .election-row {
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
}
main .election-row:hover {
    background-color: #5aa8f3;
}
main .election-row a {
    font-size: 1.5rem;
    font-weight: 600;
}

/* question subject selection and question catalogue */
main .question-catalogue-subject-title {
    margin-top: 40px;
}
main .selection-box {
    background-color: #f3f3f3;
    margin-bottom: 10px;
    padding: 10px 0;
    box-sizing: border-box;
}
main .selection-box .selection-box-description {
    font-size: 1.2rem;
}

/* politician profile */
main .politician-profile-box {
    background-color: #f3f3f3;
    margin-bottom: 20px;
}
main .politician-profile-box img {
    width: 300px;
}
main .politician-profile-box .col-md-8 h3 {
    margin-bottom: 30px;
}
main .politician-profile-content-box {
    padding: 10px 15px;
}
main .profile-box-text {
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
}

/* politician list */
main .politician-list-filter-form {
    background-color: #f3f3f3;
    padding: 10px 15px;
    margin-bottom: 20px;
}
main .politician-list-entry {
    background-color: #f3f3f3;
    margin: 20px 0;
}
main .politician-list-entry img {
    width: 100px;
}
main .politician-profile-header {
    margin-top: 30px;
}
main .politician-profile-open-article-link:hover {
    text-decoration: none;
}

/* ---- end content specific ---- */


/* ---- start footer specific ---- */
footer {
    background-color: #5aa8f3;
    padding: 30px 0;
    margin-top: 200px;
}

/* ---- end footer specific ---- */